/* CSS reset */
* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* HTML tag styles */

html,
body {
    height: 100%;
}

body {
    background-image: url("../images/background.png");
    color: rgb(41, 12, 12);
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    color: rgb(231, 146, 146);
    background-color: #411d1d;
    float: left;
    line-height: 80px;
    padding: 0 40px;
}

h2 {
    color: #441313;
}

p {
    line-height: 2;
    margin-bottom: 25px;
}

hr {
    margin: 30px 0;
    border: 1px solid #ccc;
}

li {
    float: right;
    list-style: none;
    line-height: 80px;
}

nav a {
    color: rgb(37, 12, 12);
    text-decoration: none;
    padding: 15px;
    width: 100%;
    height: 100%;
}

nav a:visited {
    color: #777;
    text-decoration: none;
}

nav a:hover {
    background-color: #444444;
    color: rgb(252, 151, 151);
    text-decoration: none;
    border-radius: 20px;
    transition: 200ms linear;
}

nav a:active {
    text-decoration: underline;
}

form,
input,
label,
textarea {
    width: 100%;
    color: rgb(54, 13, 13);
    line-height: 2;
}

input,
textarea {
    border: 1px solid rgb(241, 156, 156);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

button {
    color: rgb(233, 119, 119);
    background-color: #444;
    padding: 10px 30px;
    border-style: none;
    font-size: 16px;
}

button:hover {
    border-radius: 20px;
    transition: 200ms linear;
    cursor: pointer;
}

button:active {
    text-decoration: underline;
}

figure {
    width: 300px;
    margin: 30px;
}

figcaption {
    text-align: center;
    position: absolute;
    background-color: #444444;
    color: rgb(236, 132, 132);
    padding: 10px 0 10px 0;
    bottom: 15px;
    width: 100%;
}

header,
footer {
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* CSS class styles */

.header,
.footer {
    padding-left: calc(100vw - 100%);
}

.header {
    height: 80px;
    background-color: rgb(240, 145, 145);
    border-bottom: 2px solid rgb(229, 140, 140)231, 142, 142);
    width: 100%;
}

.footer {
    height: 60px;
    color: rgb(241, 137, 137);
    background-color: #666;
    border-top: 8px solid #824482;
    flex-shrink: 0;
}

.footer p {
    margin: 0;
    padding: 0;
    line-height: 1;
    top: 30px;
    text-align: center;
    position: relative;
}

.content {
    max-width: 960px;
    margin: 25px auto;
    padding: 30px;
    background-color: rgb(220, 204, 252);
    border: 1px solid rgb(250, 91, 91);
    border-radius: 20px;
}

.flex-container {
    flex: 1 0 auto;
    flex-wrap: wrap;
    padding-left: calc(100vw - 100%);
}

/* Tag ID styles */

#photo {
    float: left;
    width: 200px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

#portfolio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}